:root {
    --main-color: white;
    --secundary-color: rgb(98, 98, 199);
    --tertiary-color: rgb(85, 85, 196);
    --bg-color: #e9e3e3;
    --shadow-color: #ccc;
}

* {
    box-sizing:border-box;
    margin: 0px;
    padding: 0px;
}

body {
    font-family: monospace;
    background-color: var(--bg-color);

    display: flex;
    flex-direction: column;

    height: 100vh;
    width: 100vw;

    overflow: hidden;

}

header {
    /* Colors settings */
    background-color: var(--main-color);

    /* Space settings */
    border-bottom: 2px dashed var(--secundary-color);
    height: 10vh;
    padding: 7px;
    box-shadow: 0px 0px 3px 5px var(--shadow-color);

    /* Organization settings */
    display: flex;
    justify-content: space-between;
    align-items: center;


}

#dashboard {
    /* Organization settings */
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(10, 1fr);
    gap: 10px;
    /* Space settings */
    background-color: transparent;
    height: 100%;
    width: 100%;
    padding: 10px;

}

.cell {
    /* Colors settings */
    background-color: var(--main-color);
    
    /* Border settings */
    border-radius: 15px;
    box-shadow: 0px 0px 3px var(--shadow-color);

    /* Space */
    padding: 10px;

}

.modules-group {
    display: flex;
    height: 100%;
    width: 100%;

    flex-wrap: wrap;
    justify-content: space-around;


}

.module {
    /* Space */
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1vmax;
    height: fit-content;
    width: 47%;
    flex-wrap: wrap;
    gap: 5px;

    /* Border */
    border: 1px solid var(--bg-color);
    border-radius: 1vmax;

    /* Colors */
    background-color: var(--main-color);

}

.module > label {
    font-weight: 500;
    font-size: large;

}

.module > input, button{
    width: 100%;
    border: none;
    outline: none;
}

.module > input[type="number"]{ 
    width: 15%; 

    font-size: medium;
    font-weight: 400;

    background-color: initial;
}

.module > button {
    /* Colors */
    background-color: var(--secundary-color);
    color: var(--main-color);

    /* Space */
    padding: 7px;

    /* Border */
    border-radius: 15px;

    /* Transitions */
    transition: all 500ms;

}

.module > button > img {
    height: 4vh;
}

.module > button:hover {
    /* Colors */
    background-color: var(--tertiary-color);
    color: var(--main-color);

}

.module > button:active {
    /* Colors */
    background-color: var(--main-color);
    color: var(--tertiary-color);

}

#controller { grid-area: 1 / 1 / 11 / 15; }
#sensors { grid-area: 1 / 15 / 11 / 21; }
